* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Science Gothic", sans-serif;
}

body {
  color: aliceblue;
  background-color: #000;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.left {
  background-color: #1a1a1a;
  width: 22%;
  height: 92vh;
  border-radius: 20px;
  border: 1px solid #4c4c4c;
  padding: 20px;
  position: sticky;
  top: 40px;
  transform: translateX(-500px);
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

.right {
  margin-top: 40px;
  top: 40px;
  height: 2200px;
  background: #1a1a1a;
  width: 50%;
  border-radius: 20px;
  border: 1px solid #4c4c4c;
   transform: translateY(5000px);
  animation: slideUps 2s forwards;
}

@keyframes slideUps {
  from {
    transform: translateY(-5000px);
  }
  to {
    transform: translateY(0);
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #6b6b6b;
  /* margin-bottom: 10px; */
}

.details img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: scale 0.3s ease-in-out;
}

.details img:hover {
  scale: 1.1;
}

.details h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  transition: scale 0.3s ease-in-out;
}

.details h2:hover {
  scale: 0.7;
  cursor: pointer;
}

.details p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: black;
  color: #ffbf00;
  padding: 10px 20px;
  border-radius: 5px;
  transition: scale 0.3s ease-in-out;
}

.details p:hover {
  scale: 1.1;
}

.contact_details {
  margin-top: 10px;
  color: aliceblue;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #6b6b6b;
}

.contact_details h2 {
  font-size: 15px;
  color: gray;
}

.contact_details p {
  font-size: 12px;
  padding-bottom: 20px;
}

.contact_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact_icons img {
  margin-top: 15px;
  width: 25px;
  height: 25px;
  filter: grayscale(1) invert(0.7);
  transform: filter 0.3s ease-in-out, scale 0.3s ease-in-out;
}

.contact_icons img:hover {
  filter: grayscale(0) invert(0);
  scale: 1.1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6b6b6b;
}

.nav a {
  text-decoration: none;
  color: aliceblue;
  transition: scale 0.3s ease-in-out;
}

.nav a:hover {
  scale: 1.5;
  color: #ffbf00;
}

#about {
  color: #ffbf00;
}

.about_me h1 {
  margin-bottom: 10px;
  margin-left: 20px;
}

.liner {
  width: 100px;
  background-color: #ffbf00;
  height: 10px;
  margin-top: 20px;
  margin-left: 18px;
}

.about_me p {
  font: 1em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
}

.skills {
  margin-top: 3pc;
}

.skills h1 {
  margin-bottom: 10px;
  margin-left: 20px;
}

.skill {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.html img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.html p {
  margin-top: 20px;
}

.css {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.css img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.css p {
  margin-top: 20px;
}

.python {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.python img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.python p {
  margin-top: 20px;
}

.c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.c img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.c p {
  margin-top: 20px;
}

.js {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.js img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.js p {
  margin-top: 20px;
}

.git {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6b6b6b;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
}

.git img {
  filter: brightness(0) saturate(100%) invert(71%) sepia(67%) saturate(1496%)
    hue-rotate(359deg) brightness(102%) contrast(104%);
}

.git p {
  margin-top: 20px;
}

#skill_logo {
  transition: all 0.2s ease-in-out;
}

#skill_logo:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px black;
}

.education_section {
  margin-top: 4pc;
}

.education_section h1 {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
}

.bachelor {
  margin-left: 20px;
  margin-top: 30px;
  color: #cbc7c7;
  display: flex;
  flex-direction: column;
}

.bachelor H2 {
  color: aliceblue;
  font-family: system-ui;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bachelor h5 {
  margin-top: 10px;
  font-family: system-ui;
  margin-bottom: 10px;
}

.ball {
  position: absolute;
  top: 1185px;
  left: 580px;
  background-color: #ffbf00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.port h1 {
  margin-left: 20px;
  margin-top: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  grid-gap: 30px;
}

.project {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #000;
  padding: 10px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.project img {
  width: 80%;
  height: 80%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.project p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.technologies p {
  font-family: "Science Gothic", sans-serif;
  background-color: #ffbf0075;
  color: #ffbf00;
  padding: 5px;
  border-radius: 5px;
}
